@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body {
    background-color: #f5f5f5;
}
h1{
    margin: 10px !important;
    font-family: 'Kablammo', cursive;
    color: #ff6600;
}
main{
    margin-bottom: 13vh;
}
strong{
    font-family: 'Kablammo', cursive;
    font-size: 1.5em;
    color: #ff0000;
}
/* end global */

/* begin nav */
.nav-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
    
}

.nav-container ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

.nav-container ul li a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.nav-container ul li a:hover{
    color: #ff6600;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease, opacity 0.3s ease; /* Add any other properties you want to transition */
    opacity: 0.95;
}
  
/* end nav */

/* main and cards */
.small-headers{
    margin: 20px !important;
    text-align: center !important;
    font-weight: bolder;
    font-size: 2em;
}
.small-headers a{
    text-decoration: none;
    color: #000;
}

.highest-rated-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap;
}
.dish-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: #fff;
    width: 300px;
    margin: 20px;
}

.dish-card img {
    max-width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.dish-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.dish-card p {
    font-size: 1rem;
    color: #666;
    line-height: 1.4;
}
.dish-card a {
    margin-top: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    background-color: #ff6600;
    padding: 10px 20px;
    border-radius: 8px;

}

/* end main and cards */

/* begin footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Kablammo', cursive;
    color: #ffffff;
}


footer p {
    font-size: 14px;
    margin-bottom: 15px;
}

footer form {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}

footer button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #ff8431;
}
/* end footer */

