{% extends 'base.html' %}
{% block content %}
<h2 class="small-headers"><a href="">Highest rating →</a></h2>
<section class="highest-rated-box">
    
    <!-- Cards showing the dishes with the highest rating -->
    <div class="dish-card">
        <img src="./images/burger.jpg" alt="">
        <h3>Burger</h3>
        <p>
            Tags: American
        </p>
        <a href="recipe-details.html">Details</a>
    </div>
    
</section>
<h2 class="small-headers"><a href="">Newest →</a></h2>
<section class="highest-rated-box">
    <!-- Cards showing the newest dishes -->
    <div class="dish-card">
        <img src="./images/burger.jpg" alt="">
        <h3>Burger</h3>
        <p>
            Tags: American
        </p>
        <a href="#">Details</a>
    </div>
</section>

{% endblock %}