{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="profile-page-style">
    <div class="profile-header">
        <img class="profile-image" src="https://i.pinimg.com/1200x/28/95/9c/28959c030ba3d23d564a0eee0206bb5c.jpg">
        <div class="profile-info">
            
            <h2 class="profile-title">{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="profile-bio">@{{ user.username }}</p>
            <p class="profile-bio">Joined: {{ user.date_joined|date:"d.m.Y" }}</p>
            {% if user != request.user %}
            <a class="profile-link" href="#">Follow</a>
            {% else %}
            <!-- else if the user is the profile owner -->
            <a class="profile-link" href="{% url 'create-recipe' %}">Add Recipe</a>
            <a class="profile-link" href="{% url 'edit-profile' %}">Edit profile</a>
            <a class="profile-link" href="{% url 'logout' %}">Log out</a>
            <a class="profile-link" href="{% url 'delete-profile' user.pk %}">Delete profile</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <h3 class="profile-action">List of recipes</h3>
    <ul class="recipe-list">
        {% if recipes %}
            {% for recipe in recipes %}
            <li class="recipe-item">
                <p><a class="recipe-link" href="{% url 'recipe-detail' recipe.pk %}">{{ recipe.title }}</a> - posted on: {{ recipe.date|date:"d.m.Y" }}
                {% if user == request.user %}
                    <a href="#" class="profile-link">Edit</a>
                    <a href="#" class="profile-link">Delete</a>
                {% endif %}
                </p>  
            </li>
            {% endfor %}
        {% else %}
            <li class="recipe-item">
                No recipes yet
            </li>
        {% endif %}
    </ul>
    
    
</div>
{% endif %}
{% endblock %}