{% extends 'base.html' %}
{% block content %}
    <div class="recipe-details">
        <h1>{{ recipe.title }}</h1>
        <h2>Description:</h2> <!-- LATER NOT READY -->
        <p>{{ recipe.description }}</p>
        <p>Recipe by <a href="{% url 'details-profile' recipe.user.username %}">@{{ recipe.user.username }}</a> | Uploaded on: {{ recipe.date|date:"d.m.Y" }}</p>
        <div class="form-container">
            {% if request.user.is_authenticated %}
                <div class="like-button-container">
                    <form method="post" action="{% url 'like-recipe' recipe.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="like-button">
                            <span>
                                {% if user_has_liked_recipe %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </span>
                            <span class="like-count">{{ like_count }}</span>
                        </button>
                    </form>
                </div>
                <div class="like-button-container">
                    <form method="post" action="{% url 'save-recipe' recipe.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="like-button">
                            {% if user_has_saved_recipe %}
                                Unsave
                            {% else %}
                                Save
                            {% endif %}
                        </button>
                    </form>
                </div>
                {% else %}
                <div class="like-button-container">
                    <form method="post" action="{% url 'like-recipe' recipe.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="like-button" disabled>
                            <span>
                                {% if user_has_liked_recipe %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </span>
                            <span class="like-count">{{ like_count }}</span>
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="recipe-image">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        </div>
        

        <div class="recipe-ingredients">
            <h2>Ingredients:</h2>
            <p>{{ recipe.ingredients|linebreaksbr }}</p>
            <hr>
            <h2>Instructions:</h2>
            <p>{{ recipe.instructions|linebreaksbr }}</p>
        </div>

        <hr>
        {% if request.user.is_authenticated %}
        <div class="comment-section">
            <h3>Add a Comment</h3>
            <form class="comment-form" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Submit Comment</button>
            </form>
        </div>
        {% else %}
        <div class="comment-section">
            <h3>Add a Comment</h3>
            <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to comment on this recipe</p>
        </div>
        {% endif %}
        
        <h3>Comments</h3>
        <div class="comments-box" id="comment">
            <ul class="comments-list">
                {% for comment in comments %}
                <li>
                    <a href="{% url 'details-profile' comment.user.username %}">@{{ comment.user.username }}</a>: {{ comment.comment }}
                </li>
                {% endfor %}
            </ul>
        </div>
    <!-- Extended model for the reviews LATER -->
{% endblock %}
