{% extends 'base.html' %}
{% block content %}
    <div class="recipe-details">
        <h1>Title</h1>
        <!-- Implement using the django model-->
        <p><a href="#" id="reviewsPage">Reviews: </a></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, voluptate recusandae molestias distinctio cupiditate laborum laboriosam numquam quod impedit in error ex, unde corrupti atque aspernatur, quo est totam officia?</p>
        <p>Recipe by <a href="profile-details.html">user</a> | Updated on *****</p>
        <div class="recipe-image">
            <img src="./images/burger.jpg" alt="">
        </div>
        <div class="details-card">
            <h3>
                Prep Time:
                <p>00:00</p>
            </h3>
            <h3>
                Cook Time:
                <p>00:00</p>
            </h3>
            <h3>
                Servings:
                <p>0</p>
            </h3>
            <h3>
                Total Time:
                <p>00:00</p>
            </h3>
        </div>
        <div class="recipe-ingredients">
            <h2>Ingredients</h2>
            <!-- For loop with all the ingredients -->
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
            </ul>
            <h2>Instructions</h2>
            <!-- For loop with all the instructions -->
            <ol>
                <li>Instruction 1</li>
                <li>Instruction 2</li>
                <li>Instruction 3</li>
            </ol>
            <h2>Nutritions Facts</h2>
            <!-- For loop with all the nutritions facts -->
            <div class="details-table">
                <table>
                    <tr>
                        <th>Calories</th>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>Carbohydrates</th>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>Fat</th>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>Protein</th>
                        <td>100</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Extended model for the reviwes  -->
{% endblock %}